<div class="hero-section">
  <div class="hero-background" data-bg="{{site.baseurl}}/assets/img/{{site.hero_cover_img}}"></div>
  <noscript>
    <style>
      .hero-background {
        background-image: url('{{site.baseurl}}/assets/img/{{site.hero_cover_img}}');
      }
    </style>
  </noscript>
  <div class="hero-overlay"></div>
  <div class="hero-content container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-12">
        <h1 class="hero-greeting">Hi, I'm <span class="highlight-text">{{site.author}}</span></h1>
        <div class="typewriter-container">
            <span id="typewriteText" class="hero-subtitle"></span>
        </div>
        <p class="hero-bio">{{site.author_bio}}</p>

        <div class="hero-buttons">
          <a href="{{site.url}}{{site.baseurl}}/projects" class="btn btn-primary btn-lg mr-3">
            See Projects
          </a>
          <a href="{{site.url}}{{site.baseurl}}/gallery" class="btn btn-outline-light btn-lg">
            Gallery
          </a>
        </div>

        <div class="hero-social mt-4">
             {%- include Github/github_follow_button.html -%}
        </div>
      </div>
      <div class="col-lg-4 d-none d-lg-block text-center">
        <img
          class="hero-profile-img smooth-load"
          src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}"
          alt="{{site.author}}"
          loading="eager"
        />
      </div>
    </div>
  </div>
</div>
