---
layout: full-width
---

<script>
  $(document).ready(function () {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }],
    });
  });
</script>

{%- include hero.html -%}

<div class="container main-content-wrapper">
    <div class="col-lg-10 offset-lg-1">
        {%- include recent_articles.html -%}

        <hr class="section-divider">

        {% if site.show_author_work_experiences %}
        {%- include work_experience.html -%}
        {% endif %}

        <hr class="section-divider">

        {% if site.show_author_education_details %}
        {%- include education.html -%}
        {% endif %}
    </div>
</div>
